<header id="site-header">
  <nav id="site-nav" class="navbar navbar-fixed-top navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed clearfix" data-toggle="collapse" data-target="#site-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="site-menu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for link in site.links %}
        <li {% if link.title == page.title %}class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div><!-- #site-menu -->
  </nav><!-- #site-nav -->
</header>
