<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} | {{ site.title }}</title>
	<link rel="stylesheet" href="../public/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
	<div id="site-container" class="container-fluid">
	{% include header.html %}
	{% include footer.html %}
	</div><!-- #site-container -->
	<script src="../public/vendor/jquery/dist/jquery.min.js"></script>
	<script src="../public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
